/* Styling for index2.html program */

body{
    margin:1px;
    
}
.responsive-image{
    width:100%; 
    height:auto;
}
.abc{
    color:red;
}
.caption{
    font-style: italic;
    font-weight: bold;
}